<div class="row container">
	<div class="row">
		<div class="span12">
			<h2>About</h2>
			<p>OpenCampus Kent is a recent feed of what's happening wherever you are in Kent. The site features crime, news, deals, events, reviews and updates from your dorm room to downtown. You can also check out the latest Kent photographs and videos.</p>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<h2>Who we are</h2>
			<p>OpenCampus Kent is a property of <a href="http://kentwired.com">Kentwired.com</a>, an independent student media outlet at <a href="http://www.kent.edu">Kent State University.</a></p>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<h2>OpenCampus Kent in the news</h2>
			<ul>
				<li><a href="http://www.kent.edu/einside/articledisplay.cfm?newsitem=CBE1D107-D0D5-4BB6-DA4CB24628BB2EB8&issueWeek=2012-04-23%2009:03:37&utm_source=eInside&utm_medium=email&utm_campaign=eInside">E-Inside</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<a href="https://twitter.com/OpenCampusKent" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @OpenCampusKent</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
</div>