<div class="row container">
	<div class="row">
		<div class="span12">
			<p><b>Terms of Service</b></p>
			<p>By using OpenCampus Kent, you agree not to post any unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, profane, hateful or otherwise objectionable material of any kind, including, but not limited to, any material which encourages conduct that would constitute a criminal offense, violate the rights of others, infringe a copyright or otherwise violate any applicable local, state, national or international law. The OpenCampus Kent team reserves the right to edit or remove any user-submitted content and terminate the posting privileges of users who violate these terms of service.</p>
			<p>You grant OpenCampus Kent a perpetual, nonexclusive, world-wide, royalty-free, sub-licensable license to any work you submit to the site, which includes without limitation the right to reproduce, distribute, display, perform, and electronically transmit your submission in any form or medium now known or hereinafter developed.</p>
			<p><b>Copyright</b></b>
			<p>The materials used and displayed on OpenCampus Kent, including but not limited to text, software, photographs, graphics, illustrations and artwork, video, music and sound, and names, logos, trademarks and service marks, are the property of OpenCampus Kent or its affiliates or licensors and are protected by copyright, trademark and other laws. OpenCampus Kent is licensed under a <A HREF="http://creativecommons.org/licenses/by-nc-sa/3.0/"><FONT COLOR="#345dae">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</FONT></A>Any other uses beyond the scope of that license require the written permission of OpenCampus Kent or the appropriate affiliate.</P>
			<P><FONT SIZE=4><B>Disclaimer</B></FONT></P>
			<P>By using OpenCampus Kent, you acknowledge that that some of the content presented there comes from third-party websites and users that OpenCampus Kent does not control and that some information either on the site itself or linked to from the site will be inaccurate or outdated. If you find inaccurate information, please notify the website where that content was first posted.</P>
			<P><FONT SIZE=4><B>OpenCampus Kent DMCA Notice and Takedown Procedure</B></FONT></P>
			<P>OpenCampus Kent abides by the federal <A HREF="http://www.copyright.gov/legislation/dmca.pdf"><FONT COLOR="#2961a9">Digital Millennium Copyright Act (DMCA)</FONT></A> by responding to notices of alleged infringement that comply with the DMCA and other applicable laws. As part of our response, we may remove or disable access to material that is claimed to be infringing, in which case we will make a good-faith attempt to contact the person who submitted the affected material so that they may make a counter notification, also in accordance with the DMCA.</P>
			<P>OpenCampus Kent does not control content hosted on third party websites, and cannot remove content from sites it does not own or control. If you are the copyright owner of content hosted on a third party site and you have not authorized the use of your content, please contact the administrator of that website directly to have the content removed.</P>
			<P>Before serving either a Notice of Infringing Material or Counter-Notification, you may wish to contact a lawyer to better understand your rights and obligations under the DMCA and other applicable laws. The following notice requirements are intended to comply with OpenCampus Kent’s rights and obligations under the DMCA and, in particular, section 512(c), and do not constitute legal advice.</P>
			<P><B>Notice of Infringing Material</B></P>
			<P>To file a notice of infringing material on a site owned or controlled by OpenCampusKent.com, please provide a notification containing the following details:</P>
			<OL>
				<LI><P>Reasonably sufficient details to enable us to identify the work claimed to be infringed or, if multiple works are claimed to be infringed, a representative list of such works (for example: title, author, any registration or tracking number, URL)</P>
				<LI><P>Reasonably sufficient detail to enable us to identify and locate the material that is claimed to be infringing (for example a link to the page that contains the material)</P>
				<LI><P>Your contact information so that we can contact you (for example, your address, telephone number, email address)</P>
				<LI><P>A statement that you have a good faith belief that the use of the material identified is not authorized by the copyright owner, its agent, or the law</P>
				<LI><P>A statement, under penalty of perjury, that the information in the notification is accurate and that you are authorized to act on behalf of the owner of the exclusive right that is alleged to be infringed.</P>
				<LI><P>Your physical or electronic signature.</P>
			</OL>
		<P>Then send this notice to: Jacqueline Marino</P>
		<P><B>By Mail:<BR></B>DMCA Agent: Jacqueline Marino<BR>201 Franklin Hall, P.O. Box 5190 <BR>Kent, OH  44242</P>
		<P><B>By Fax:<BR></B>Attn: DMCA Agent, Jacqueline Marino <BR>330/672-4880</P>
		<P><B>By Email:<BR></B>Email: <A HREF="mailto:jmarino7@kent.edu">jmarino7@kent.edu</A></P>
		<P><FONT COLOR="#000000"><FONT SIZE=4><B>Counter-Notification</B></FONT></FONT></P>
		<P>If material that you have posted to a site controlled or operated by OpenCampus Kent has been taken down, you may file a counter-notification that contains the following details:</P>
		<OL>
			<LI><P>Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or disabled</P>
			<LI><P>A statement, under penalty of perjury, that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material in question</P>
			<LI><P>Your name, address and telephone number</P>
			<LI><P>A statement that you consent to the jurisdiction of the Federal District Court for judicial district in which your address is located or, if your address is outside of the USA, for any judicial district in which OpenCampus Kent may be found and that you will accept service of process from the person who submitted a notice in compliance with the section (c)(1)(C) of the DMCA, as generally described above</P>
			<LI><P>Your physical or electronic signature.</P>
		</OL>
		<P>Then send this notice to:</P>
		<P><B>By Mail:<BR></B>DMCA Agent: Jacqueline Marino<BR>201 Franklin Hall, P.O. Box 5190<BR>Kent, OH  44242</P>
		<P><B>By Fax:<BR></B>Attn: DMCA Agent, Jacqueline Marino<BR>OpenCampus Kent<BR>330-672-4880</P>
		<P><B>By Email:<BR></B>Email: <A HREF="mailto:jmarino7@kent.edu"><FONT COLOR="#00000a">jmarino7@kent.edu</FONT></A></P>
		<P><I>This policy was adapted from an original created by Creative Commons </I><I><A HREF="http://creativecommons.org/dmca">http://creativecommons.org/dmca</A></I></P>
		</div>
	</div>
</div>