{% extends "base.html" %}{% comment %} -*- mode: django-html; tab-width: 4 -*- {% endcomment %}
{% block fulltitle %}OpenCampus - Team{% endblock %}

{% block content %}
<style>#mapwrapper{display:none;}.row.container{margin-top:20px;}.home-tooltip{display:none;}</style>
<div class="row container">
	<div class="row">
		<div class="span12">
			<h1 class="page-header">The OpenCampus Kent Team for Summer 2012</h1>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<h3>Programmer and Developer</h3>
			<p>Matt Gates</p>
			<p>info@mgates.me</p>
		</div>
		<div class="span6">
			<h3>Editor</h3>
			<p>Rachel Kilroy</p>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<h3>Adviser</h3>
			<p>Jacqueline Marino</p>
		</div>
		<div class="span6">
			<h3>Consultant</h3>
			<p>Josh Talbott</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="span12">
			<p>Shout-outs to all the students who, along with Rachel, Josh and Matt, helped develop OpenCampus Kent in Spring 2012:</p>
			<p>Kevin Donovan, George Fronimopoulos, Freddie Smith, Derek Thiry, Amy Beitzel, Joseph Bell, Rebecca Reis, Justin Rice, Julie Sickel, Brad Tansey and Raytevia Evans.</p>

			<p>A special thanks to Joseph Bell who designed the site, along with all the icons, and to Adam Davis, the student assistant who led the project on the programming side and left great tracks for us to follow.</p>

			<p>High-fives to co-instructors Susan Zake and Liz Yokum and to other professors and professionals who advised us along the way: Paul Winkler, Aaron Rosenberg, KSU Prof. Karl Fast, KSU Prof. Mark Goodman, Northwestern Prof. Jeremy Gilbert, KSU Digital Sciences Director Robert A. Walker and outgoing KSU Journalism and Mass Communication Director Jeff Fruit</p>
			
			<p>This project was supported by the John S. and James L. Knight Foundation through the Association for Education in Journalism and Mass Communication.</p>
			
			<p>OpenCampus Kent is a property of <a href="http://kentwired.com">Kentwired.com</a>, an independent student media outlet at <a href="http://www.kent.edu">Kent State University.</a></p>
		</div>
	</div>
</div>
{% endblock %}